* {
	  vertical-align: baseline;
	  font-weight: inherit;
	  font-style: inherit;
	  font-family: Arial, serif;
	  font-size: 100%;
	  outline: 0;
	  margin: 0 auto;
	  }
	  
  @media screen and (max-width: 700px) {
	body {
	  -webkit-text-size-adjust: none;
	}
  }
  
  @media screen and (max-width: 400px) {
	body {
	  -webkit-text-size-adjust: none;
	}
  
  #wrapper {
		margin: 0 auto;
		width: 750px;
		display: flex;
		 }
		 #left-container{
		 	font-size: 13px;
		 	color: gray;
		 	height: auto;
		 	text-decoration: none;
		 	display: inline-block;
		 	padding-right: 40px;
		 	vertical-align:top;
  			border-right: 2px solid #e853fc;
		 }
			 ul {
			 	list-style-type: none;
			 }
			 #about {
			 	margin-top: 160px;
			 	padding-bottom: 60px;
			 }
		 #right-container{
		 	color: gray;
		 	display: inline-block;
		 	vertical-align: top;
		    margin-top: 70px;
		 }
		 	#logo{
				 color: #ad00c2;
				 text-align: center;
				 letter-spacing: 6px;
				 font-size: 30px;
				 font-weight: 600;
				 margin-left: 40px;
				 text-decoration: none;
			 }
			 #logo:hover {
				color: #e853fc;
				transition-duration: .5s;
			 }
			 #right {
			 	margin-top: 50px;
			 	font-size: 17px;
			 	text-decoration: none;
			 }
			 #team {
			 	margin-top: 45px;
			 }
			 li {
			 	margin-bottom: 50px;
			 	line-height: 30px;
			 	text-decoration: none;
			 }
			 p{
			 	margin-bottom: -15px;
			 }