* {
	vertical-align: baseline;
	font-weight: inherit;
    font-style: inherit;
    font-family: Cooper Black, serif;
	font-size: 100%;
	outline: 0;
    margin: 0 auto;
	}
	
@media screen and (max-width: 700px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

  #wrapper {
		width: 1000px;
		margin: 0 auto;
		margin-top: 150px;
		 }
/*      CODE TO BE ADDED  	    */
#logo{
	color: #ad00c2;
	text-align: center;
	letter-spacing: 12px;
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: Arial, serif;
	margin-left: 350px;
}
#desclist{
	width: 33%;
	float: left;
	list-style: none;
	font-family: Cooper Black, serif;
}
#idealist{
	width: 33%;
	float: left;
	list-style: none;
	font-family: Cooper Black, serif;
}
li{
	padding: 15px
}
.vertical { 
    border-left: 5px solid black; 
    height: 200px; 
} 
